
 

@mixin Button($bg, $color: white, $type: 'filled' ) {
    color: $color; 
    width: max-content;
    border-radius: 4px;
    padding: 16px 32px; 
    display: block;
    margin: 10px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    @if($type == 'filled') {
        border: none; 
        background-color: $bg;
    } @else {
        background-color: none;
        border: 1px solid $bg;
    }
    transition: all 400ms ease-in-out;
}
@mixin ButtonHover($bg, $cl, $type: 'filled') {
    transition: all 400ms ease-in-out;
    @if($type == 'filled') {
        border: none; 
        background-color: $bg;
        color: $cl;
    } @else {
        background-color: none;
        border: 2px solid $bg;
        color: $cl;
    } 
}