@mixin Row($justify: center, $align: center) {
    display: flex;
    flex-direction: row; 
    justify-content: $justify;
    align-items: $align; 
}


@mixin Col($justify: center, $align: center) {
    display: flex;
    flex-direction: column; 
    justify-content: $justify;
    align-items: $align; 
}

@mixin Center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
@mixin Container($w, $h: 0) {
    max-width: $w;
    width: 100%;
    padding: 0 20px;
    margin: $h auto ;
}

