$wide: 1300px;
$normalwide: 1146px;
$narrow: 1000px;

$deep: 120px;
$normaldeep: 90px;
$shallow: 60px;

$paddin-mobile: '0 15px';
$cardwidth: 330px;

$backgoundprimary: #171923;
$backgoundsecondary: #F7F7F7;
$backgoundtertiary: #F6F6F6;

$primary: #9b2d24;
$primaryhover: #6B1A14;
$secondary: #834723; 
$tertiary: #3e3e3e;
$tertiaryhover: #242424;

$paragprimary: #252525;
$paragsecondary: #646464;


$error: #f44336;
$warning: #ffa726;
$info: #29b6f6;
$success: #66bb6a;