@use '../styles/utilities/breakpoints' as br;


.Map {
    background-image: url('../public/globe.png');
    background-position: center;
    min-height: 1150px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1; 
    &Img {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
        @include br.breakpoint(1400px) {
            right: 5%;
        }
        @include br.breakpoint(1100px) {
            right: 0;
        }
        @include br.breakpoint(1000px) {
            right: 50%;
            transform: translate(50%, -50%);
        }
        @include br.breakpoint(700px) {
            top: 65% ;  
        }
        @include br.breakpoint(500px) {
            width: 100%;
            top: 60%;
            object-fit: contain; 
        }
    }
    &Content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 40%;
        @include br.breakpoint(1000px) {
            top: 5%;
        }
        @include br.breakpoint(700px) { 
            width: 100%; 
            left: 0;
            padding: 0 15px;
            top: 15%;
        }
        & > div {
            margin: unset ;
        }
        & h3 {
            font-family: Mulish;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;
            margin: 20px 0;
            @include br.breakpoint(1000px) {
                font-size: 36px;
                line-height: 46px;
                margin: 10px 0; 
            }
        }
        & p {
            color: var(--Gray-1, #333);
            font-family: Mulish;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.44px;
            @include br.breakpoint(1000px) {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}